OPENAI_API_KEY=FvGdtZXEHPr3wwlPRfasTbDxVUz19bgBU2fEl_0rOX1OTmQbcfWgfaGXA5lya3ClCbhprT0-PpT3BlbkFJiLVbzakAFeWk22CHaNluOh8o9VZdUStTZwD_wmwdTe3ZRQEZLbQz_lIJsUfGvhJMDxphJ5AxAA
OLLAMA_BASE_URL=http://localhost:11434/v1
HF_TOKEN=...

